* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(134,134,227,1) 50%, rgba(0,212,255,1) 100%);
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,84,246,1) 50%, rgba(0,212,255,1) 100%);
}

footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,84,246,1) 50%, rgba(0,212,255,1) 100%);
}

li {
    font-size: 30px;
    color: azure;
    list-style-type: none;
}

a {
    color: aquamarine;
    text-decoration: none;
}

a:hover {
    color: #AB91EA;
	transition: 0.2s linear;
}

.links-style {
    font-size: 30px;
    display: inline;
    padding: 0px 70px 0px 70px;
}
